/*.iml
/.classpath
/.idea
/.project
/.settings
addon/*.iml
addon/.project
addon/.settings
addon/frontend/*.iml
addon/frontend/.classpath
addon/frontend/.project
addon/frontend/.settings
addon/frontend/target
addon/reports/*.iml
addon/reports/.classpath
addon/reports/.project
addon/reports/.settings
addon/reports/target
addon/repository/*.iml
addon/repository/.classpath
addon/repository/.project
addon/repository/.settings
addon/repository/target
addon/target
api/*.iml
api/.classpath
api/.project
api/.settings
api/target
/bin
common/*.iml
common/.classpath
common/.project
common/.settings
common/target
hst/*.iml
hst/.classpath
hst/.project
hst/.settings
hst/target
/target
